.about-norway__container {
    min-width: 320px;
    max-width: 1170px;
    margin: auto; 
}
.about-norway {
    background-color: var(--text-color-light);
    padding-top: 90px;
    padding-bottom: 60px;
}
.about-norway__box1 {
    width: 100%;
    padding-top: 25px;
    padding-right: 15px;    
}
.about-norway__img-box {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    object-fit: cover;
    justify-content: flex-start;
    
}
.about-norway__box2 {
    margin-top: 40px;
    padding-left: 45px;
    padding-right: 45px;    
}
.about-norway__block-text {
    color: var(--block-name-dark);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    letter-spacing: 0.55px;
    font-weight: bold;
    padding-bottom: 10px;
}
.about-norway__block_span {
    color: var(--color-for-signs);
    font-weight: bold;
}
.about-norway__subtitle {
    color: var(--main-text-color);
    font-family: "Playfair Display", serif;
    min-width: 222px;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    vertical-align: baseline;
    letter-spacing: 1.22px;
    line-height: 49px;  
}
.about-norway__text1 {
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    min-width: 222px;
    letter-spacing: normal;
    line-height: 32.3px;
    word-wrap: break-word;
    vertical-align: baseline;
    text-align: left;
    margin-top: 25px;
}
.about-norway__box3 {
    margin: auto;
    padding-left: 45px;
    padding-right: 25px;  
}
.about-norway__text2 {
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    min-width: 222px;
    letter-spacing: normal;
    line-height: 32.3px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    text-align: left;
    margin-top: 25px;
}
.about-norway__text3 {
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    min-width: 222px;
    letter-spacing: normal;
    line-height: 32.3px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    text-align: left;
}
@media(min-width:768px){
    .about-norway__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;

}
}