.about-us {
    display: grid;
    background-color: var(--background-total-light);
    width: 100%;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}


.three-steps {
    background: url(../img/background_about_us.jpg) no-repeat top center;
    background-size: cover;
    height: 500px;
    display: flex;
    text-align: left;
    padding-top: 90px;
    padding-bottom: 400px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
        }

.about-us__subtitle {
    font-size: 39px;
    color: var(--main-text-color);
    }

.about-us__ten-days {
    color: var(--text-bold-color);
}

.three-steps__step {
    padding: 28px;
    color: var(--text-color-1);
    height: 300px;
    display: block;
    background-color: var(--background-total-light);
    margin-left: 15px;
    margin-right: 15px;
}

.about_us__red-line {
    color: var(--color-for-signs);
}

.name-step {
    font-size: 23px;
    color: var(--text-dark-shade);
    display: box;
}
.description-step {
    font-size: 14px;
    color: var(--text-dark-shade);
}