#blog {
	--header-font: "Playfair Display",
		serif;
	/*убрать переменную в продакшн, она задана в root*/
	--text-font: Roboto,
		serif;
	--text-color: #505155;
	--article-header-color: #232428;
	--line-color: #EE2E14;
	padding: 90px 0 15px;
	text-align: center;
}

.center-container {
	max-width: 950px;
	min-width: 320px;
	margin: auto;
	padding: 0 20px;
}

.blog__line-wrapper {
	margin-bottom: 20px;
}

/*Убрать блок в продакшн, font задан в root*/
.blog__line,
.blog__description,
.stories__title {
	font-family: var(--text-font);
}

.blog__line {
	color: var(--line-color);
	font-size: 12px;
}

.blog__name {
	font-family: var(--text-font);
	font-size: 12px;
	text-transform: uppercase;
}

.blog__title {
	font-family: var(--header-font);
	font-size: 34px;
	padding: 0 10px;
	margin-bottom: 50px;
}

.blog__name,
.blog__title,
.blog__description {
	color: var(--text-color);
}

.blog__description {
	font-size: 19px;
	padding: 0 20px;
	margin-bottom: 40px;
}

.stories {
	min-height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(33,
			39,
			54,
			0.12);
	text-align: center;
}

.stories__title {
	font-size: 24px;
	color: var(--article-header-color);
}