.contacts__form-title {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.contacts__form-subtitle {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 34px;
}

.contacts__form-description {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

input {
    background-color: #2d2e33;
    color: rgba(255, 255, 255, 0.54);
}

input:focus {
    border-color:rgb(20, 169, 238);
}

[type="submit"] {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgb(20, 169, 238);
}

.divider {
    color: var(--color-for-signs);
    font-size: 12px;
}

