.faq__container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.faq {
  background-color: #232428;
  padding-top: 90px;
}
.faq__block {
  display: block;
  padding-left: 15px;
}
.faq__block__title {
  padding-left: 15px;
  margin-top: 15px;
  font-size: 34px;
  font-family: "Playfair Display",serif;
}
@media (min-width: 410px) {
.faq__block__title {
  display: flex;
}
.faq__title__span {
  padding-left: 10px;
}
.faq_paragraph__text {
  width: 430px;
}
} 
@media (min-width: 900px) {
.faq__paragraph__text {
  width: 760px;
}
}
.faq__block__text {
  font-size: 12px;
  font-weight: 500;
  color: var(--block-name-light);
  font-family: inherit;

}
.faq__block__span {
  color: red;
  padding-right: 5px;
}
.faq__title__text {
  color: var(--text-color-lightest);
  font-size: 34px;
  font-weight: bold;
  font-family: "Playfair Display",serif;
  vertical-align: baseline;
  text-align: left;
}
.faq__title__span {
  color: var(--text-color-light);
  font-size: 34px;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  vertical-align: baseline;
  text-align: left;
}
.faq__paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-right: 15px;
  
}
.faq_paragraph__text {
  color: var(--text-color-light);
  font-size: 17px;
  font-family: "Roboto" sans-serif;
  padding-left: 15px;
  line-height: 28.9px;
}
.accordion-item {
  position: relative;
  width: 50%;
  padding: 20px 0;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  cursor: pointer;
}
.accordion-header {
  font-weight: 700;
  font-size: 24px;
  margin-right: 40px;
  color: var(--text-color-lightest);
}

.accordion-button {
  font-weight: 700;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color-lightest);
  padding-left: 2px;
  background-color: var(--background-color);
}

.accordion-body {
  font-weight: 400;
  line-height: 25px;
  text-align: start;
}

.accordion-flush {
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}
.faq__img-container{
  float: right;
} 
@media (min-width: 768px) {
  .faq-container {
      flex-direction: row;
  }
}

.accordion-button:not(.collapsed) {
  border-color: #232428;
  background-color: #232428;
  color: var(--text-color-lightest);
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-button:focus {
  border-color: #232428;
  text-decoration-color: var(--text-color-lightest);
}

.accordion {
  --bs-accordion-btn-focus-border-color:#232428 ;
  --bs-accordion-active-color: rgba(255, 255, 255, 0.75);
  --bs-accordion-border-color:#232428 ;
}
.faq-img{
  width: 50%;
}
