.faq{
  background-color: var(--background-color);
  color: var(--text-color-lightest);
  padding-top: 125px;
  padding-bottom: 90px;
}

.faq__container{
  display: flex;
  flex-direction: column;
}

@media (min-width: 760px){
  .faq__container{
      flex-direction: row;
  }
}

.faq__text-dark{
  color: var(--main-text-color);
}

.faq__subheader, .faq__text{
  padding-top: 25px;
  padding-bottom: 25px;
}

.faq__text-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.faq__img-container{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
} 

.faq-img{
  width: 100%;
}

.faq__questions{
  padding-top: 20px;
  padding-bottom: 0;
}

.questions__header {
  background-color: var(--background-color);
  color: var(---text-color-lightest);
  border: none;
  padding-bottom: 15px;
}

.questions__item{
  border-bottom: 1px solid var(--main-text-color); 
}

.questions__answer {
  display: none;
  overflow: hidden;
}

.active + .questions__answer{
  display: flex;
  padding-bottom: 15px;
}

.questions__header::before{
  content: '+ '; 
}

.questions__header.active::before{
  content: '- ';
}