.faq {
background-color: black;
max-width: 1099px;
padding-top: 100px;
padding-left: 200px;
}
.faq__block__text {
    color: rgba(255,255,255,0.6);
    font-size: inherit;
}
.faq__block__span {
    color: red;
}
.faq__block__name {
    color: white;
    font-family: "Plafair Display" serif;
    font-size: 39px;
    font: serif;
    padding-top: 20px;
}
.faq__block__name__span {
    color: #505155;
}
.faq__text {
    color: white;
    font-size: 19px;
    font: Roboto, sans-serif;
    width: 400px;
}
.questions {
    color: white;
    font-size: 17px;
    font: Roboto, sans-serif;
    width: 400px;
}
.answers {
    color: gray;
    font-size: 14px;
    font: Roboto, sans-serif;
    width: 400px;
}
.figure {
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "object-fit:cover";
    text-align: left;
}
.faq__man {
    width: 600px;
    height: 400px;
    padding-right: 30px
}