.footer {
	--text-font: Roboto,
		serif;
	--footer-background: #000;
	--text-color: #fff;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.footer-col {
	margin: 10px;
}

.footer__contacts-name,
.footer__contacts-link,
.footer__information-link,
.footer__social-copyright,
.footer__social-rights {
	font-family: var(--text-font);
}

.footer__contacts {
	background: url(../img/footer-img/footer-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 220px 0 100px;
}

.footer__contacts-name,
.footer__contacts-link,
.footer__social-copyright,
.footer__social-rights {
	color: var(--text-color);
}

.footer__contacts-list {
	text-align: center;
}

.footer__contacts-img {
	display: inline;
}

.footer__contacts-item {
	background-color: rgba(0, 0, 0, 0.65);
	padding: 55px;
	width: calc(100% / 3 - 20px);
}

.footer__contacts-img,
.footer__contacts-name {
	margin-bottom: 10px;
}

.footer__contacts-name {
	display: block;
	font-size: 23px;
}

.footer__contacts-link {
	display: block;
	font-size: 14px;
}

.footer__contacts-link_map {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.65);
}

.footer__information,
.footer__social {
	background-color: var(--footer-background);
}

.footer__information-list {
	max-width: 450px;
	margin: 0 auto;
}

.footer__information-link-logo {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.footer__information-logo {
	display: inline;
}

.footer__information-item {
	padding-bottom: 15px;
	width: calc(100% / 5 - 20px);
	text-align: center;
}

.footer__information-item_right {
	text-align: right;
}

.footer__information-link {
	text-decoration: none;
	font-size: 17px;
	color: rgba(255, 255, 255, 0.66);
}

.footer__information-link:hover {
	color: var(--text-color);
}

.footer__social-copyright,
.footer__social-rights {
	font-size: 12px;
	font-weight: 700;
}

.footer__social-copyright,
.footer__social-icon-list,
.footer__social-rights {
	width: calc(100% / 3 - 20px);
	align-self: baseline;
}

.footer__social-icon-list {
	justify-content: center;
}

.footer__social-rights {
	text-align: right;
}

.footer__social-icon-fb,
.footer__social-icon-inst,
.footer__social-icon-yout {
	fill: rgba(255, 255, 255, 0.4);
}

.footer__social-icon-fb:hover,
.footer__social-icon-inst:hover,
.footer__social-icon-yout:hover {
	fill: var(--text-color);
}

@media screen and (max-width: 700px) {
	.center-wrapper {
		padding: 0 15px;
	}

	.footer__contacts-item {
		width: calc(100% / 2 - 20px);
	}
}

@media screen and (max-width: 550px) {
	.center-wrapper {
		padding: 0 10px;
	}

	.footer__information-item_right {
		text-align: center;
	}

	.footer__contacts-item {
		width: calc(100% - 20px);
	}

	.footer__information-item {
		width: calc(100% - 20px);
	}

	.footer__social-copyright,
	.footer__social-icon-list,
	.footer__social-rights {
		width: calc(100% - 20px);
	}

	.footer__social-copyright,
	.footer__social-rights {
		text-align: center;
	}
}