.footer {
	--text-font: Roboto,
		serif;
	--footer-background: #000000;
	--text-color: rgba(255, 255, 255, 0.4);
	--text-color-hover: #ffffff;
	background-color: var(--footer-background);
	text-align: center;
	padding: 20px 0;
}

.footer__links-logo {
	display: block;
}

.footer__links-img {
	display: inline-block;
}

.footer__links-list {
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__links-link {
	display: block;
	text-decoration: none;
	color: var(--text-color);
	font-style: var(--text-font);
	font-size: 17px;
}

.footer__links-link:hover {
	color: var(--text-color-hover);
	text-decoration: underline;
}


/*footer-socials*/

.footer__socials {
	font-size: 12px;
	color: var(--text-color-hover);
}

.footer__socials-icon-list {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.footer__socials-icon-fb,
.footer__socials-icon-inst,
.footer__socials-icon-yout {
	width: 22px;
	height: 22px;
	fill: var(--text-color);
}

.footer__socials-icon-fb:hover,
.footer__socials-icon-inst:hover,
.footer__socials-icon-yout:hover {
	fill: var(--text-color-hover);
}


/*Media queries*/

@media (min-width: 768px) {
	.contacts-bottom__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 50px;
	}

	.footer__socials-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer__socials-icon-list {
		margin-left: 25px;
	}
}

@media (min-width: 990px) {
	.contacts-bottom__list {
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
	}

	.footer__links-list {
		flex-direction: row;
		justify-content: center;
	}
}