.header {
    background-image: url(../img/header_photo.png);
    background-size: cover;
    background-position: 50% 50%;
    min-width: 320px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 16px;
    margin: 5px 10px;
    padding-right: 10px;
}

.header__logo-container {
    max-width: 188px;
}

.header__menu {
    max-width: 100%;
    display: none;
}



.header__menu-item {
    line-height: 16px;
    color: var(--text-color-lightest);
    text-decoration: none;
}

.button {
    
}

/*
@media (max-width: 990px) {
     .header__menu {
        display: block;

        max-width: 380px;
        margin: auto;

    .header__menu {
        display: flex;
        flex-direction: column;
        max-width: 332px;
        margin: auto;
        }

        .header__logo-container {
            max-width: 114px;
        }
    } 
    body {
        overflow: hidden;
    }

    header__logo-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    .header__nav-burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
}

.header__burger-menu span,
.header__burger-menu::before,
.header__burger-menu::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
    transform: scale(1); 
}

.header__burger-menu::before,
.header__burger-menu::after {
    content: " ";
}

.header__burger-menu::before {
    top: 0;
}

.header__burger-menu::after {
    bottom: 0;
}

.header__burger-menu.active span {
    transform: scale(0);
}
}*/