
@media (max-width: 767px) {
    .header__container {
        max-width: 380px;
        margin: auto;
    }
      
      .header__container {
        display: flex;
        flex-direction: column;
        max-width: 332px;
        margin: auto;
    }

    .header__menu-item {
        text-decoration: none;
        color: var(--text-color-lightest);
        background-color: var(--input-bg-color);
        padding: 0 15px;
    }

    .header__menu-item:hover {
        background-color: var(--text-dark-shade);
    }

      .header__logo-container {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
      }

    .header__navigatin-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px; 
        right: -85px;
        padding: 5px;
        cursor: pointer;
        z-index: 5;
        color: var(--text-color-lightest);
    }
    

      .header__navigatin-burger span,
      .header__navigatin-burger::before,
      .header__navigatin-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--text-color-lightest);
        transition: all 0.5s ease-in-out;
    }

      .header__navigatin-burger span {
        transform: scale(1);
    }

      .header__navigatin-burger::before,
      .header__navigatin-burger::after {
        content: " ";
    }

      .header__navigatin-burger::before {
        top: 0;
    }

      .header__navigatin-burger::after {
        bottom: 0;
    }

      .header__navigatin-burger.active span {
        transform: scale(0);
    }

      .header__navigatin-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

      .header__navigatin-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

      .header__container {
        position: relative;
    }

      .header__nav 
      .navigation-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--input-bg-color);
        z-index: 2;
        transition: top 0.3s ease-in;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }
    
      .header__nav 
      .navigation-wrapper.active {
        top: 0;

    }
    
      .header__nav.active {
        top: 0;
    }

    .navigation-pages {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;

        /* position: relative;
        right: 80px; */
    }

    .navigation-pages a:hover {
        color: var(--button-black-color);
    }



}

@media (min-width: 768px) {
    .header__navigatin-burger,
    .navigation-wrapper,
    .navigation-pages,
    .navigation__link,
    .header__menu-item {
        display: none;
    }
    .header__menu-desktop {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}

/* Botstrap menu: */
.burger-checkbox {
    display: none;
}

.burger-icon {
    width: 48px;
}

.header__menu {
    display: none;
}

.burger-checkbox:checked ~ .header__menu {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .burger-icon {
        width: 72px;
    }
    .header__menu {
        display: flex;
    }
}



@media (min-width: 768px) {
    .dropdown, 
    .btn, 
    .btn-secondary, 
    .dropdown-toggle, 
    .dropdown-menu, 
    .header__menu-item, 
    .dropdown-item, 
    .menu-item__button {
        display: none;
    }
}