.header {
    background-image: url(../img/header_photo_767px.png);
    background-size: cover;
    background-position: 85% 50%;
    min-width: 320px;
}

@media (min-width: 768px) {
    .header {
        background-image: url(../img/header_photo_991px.png);
        background-size: cover;
        background-position: 85% 50%;
        min-width: 320px;
    }  
}

@media (min-width: 992px) {
    .header {
        background-image: url(../img/header_photo_1200px.png);
        background-size: cover;
        background-position: 85% 50%;
        min-width: 320px;
    }  
}

.header__container {
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
}

.header__nav {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 16px;
    padding: 30px 24px;
}

.header__logo-container {
    display: inline-flex;
    flex-direction: row;
    width: auto;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.header__logo-name {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: var(--text-color-lightest);
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    margin-left: 10px;
}

/* @media (max-width: 990px) {
.header__menu {
    max-width: 100%;
    display: none;
    }
} */


.header__menu-item {
    background-color: var(--text-color-darker);
}

.menu-item__button {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: var(--text-color-lightest);
    text-decoration: none;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 10px;
    border-width: 2px;
    border: 2px;
    border-color: var(--text-color-lightest);
}

.menu-item__button:hover {
    background-color: var(--text-color-dark);
}


.button {
    display: block;
    border-width: 2px;
    border: 2px;
    border-color: var(--text-color-lightest);
}

.header__baner {
    margin: 90px 24px;
    max-width: 1200px;
    width: 100%;
}

@media (min-width: 768px) {
    .header__baner {
        padding-top: 115px;
        padding-right: 32px;
        padding-bottom: 90px;
        padding-left: 32px;
        max-width: 1200px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .header__baner {
        padding-top: 140px;
        padding-right: 40px;
        padding-bottom: 90px;
        padding-left: 40px;
        margin: 0 -15px;
        max-width: 1200px;
        width: 100%;
    }
}

.header__headline_block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 -15px;
    padding: 0 15px;
    box-sizing: border-box;
}


.header__block-name {
    text-align: left;
    color: var(--text-color-lightest);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

@media (min-width: 992px) {
    .header__block-name {
        text-align: left;
        color: var(--text-color-lightest);
        font-size: 24px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.03em;
    }
}

.header__red-line {
    color: var(--color-for-signs);
    padding-right: 10px;
}

.header__main-content {
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
    display: block;
    width: calc(100% - 30px);
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .header__main-content {
    margin-top: 50px;
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    }

    .header__promo-box {
    display: flex;
    align-items: flex-end;
    width: 60%;
    padding: 0 15px;
    position: relative;
    }

    .header__aside {
    display: flex;
    justify-content: flex-end;
    width: 40%;  
    }

    .header_aside-video {
        display: block;
        position: relative;
        max-width: 100%;
        min-height: 32px;
        text-align: left;
        overflow: hidden;
        width: 75vh;
    }
}

@media (min-width: 992px) {
    .header__main-content {
    margin-top: 55px;
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    }

    .header__promo-box {
    display: flex;
    align-items: flex-end;
    width: 60%;
    padding: 0 15px;
    position: relative;
    }

    .header__aside {
    display: flex;
    justify-content: flex-end;
    width: 40%;  
    }

    .header_aside-video {
        display: block;
        position: relative;
        max-width: 100%;
        min-height: 32px;
        text-align: left;
        overflow: hidden;
        width: 75vh;
    }
}

.header__promo-box {
    padding: 0 15px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
}

.header__adition-icon {
    line-height: 17px;

}

.header__adition-line {
    color: var(--text-color-lightest);
    margin-left: 10px;
}

.header__promo-video {
    color: var(--text-color-lightest);
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-decoration: underline;
    display: flex;
}

@media (min-width: 768px) {
    .header__promo-video {
        color: var(--text-color-lightest);
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        text-decoration: underline;
        display: flex;
    }
}

@media (min-width: 992px) {
    .header__promo-video {
        color: var(--text-color-lightest);
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
        text-decoration: underline;
        display: flex;
    }
}


.header__aside {
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: var(--text-color-lightest);
}

.header_aside-video {
    position: relative;
    max-width: 100%;
    min-height: 32px;
    text-align: left;
    overflow: hidden;
}

.header__aside-h3 {
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.7;
    text-align: left;
    position: relative;
    max-width: 100%;
}

@media (min-width: 768px) {
    .header__aside-h3 {
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.7;
    text-align: left;
    position: relative;
    max-width: 100%;    
    }
}

@media (min-width: 992px) {
    .header__aside-h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.7;
    text-align: left;
    position: relative;
    max-width: 100%;    
    }
}


.header__aside-offer {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    position: relative;
    font-size: 12px;
    max-width: calc(100%-10px);
    line-height: 1.6;
}

@media (min-width: 768px) {
    .header__aside-offer {
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    position: relative;
    font-size: 12px;
    max-width: calc(100%-10px);
    line-height: 1.6;    
    }
}

@media (min-width: 992px) {
    .header__aside-offer {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    position: relative;
    font-size: 12px;
    max-width: calc(100%-10px);
    line-height: 1.6;    
    }
}

.header__aside-offer-discriptions {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    color: var(--text-color-light);
}

@media (min-width: 768px) {
    .header__aside-offer-discriptions {
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        text-align: left;
        position: relative;
        color: var(--text-color-light);
    } 
}

@media (min-width: 992px) {
    .header__aside-offer-discriptions {
        margin-top: 15px;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        position: relative;
        color: var(--text-color-light);
    } 
}

.header__aside-read {
    margin-top: 35px;
    position: relative;
}

.header__aside-text{
    color: var(--text-color-lightest);
    text-decoration: none;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

@media (min-width: 768px) {
    .header__aside-text{
        color: var(--text-color-lightest);
        text-decoration: none;
        font-size: 19px;
        text-align: left;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .header__aside-text{
        color: var(--text-color-lightest);
        text-decoration: none;
        font-size: 24px;
        text-align: left;
        font-weight: bold;
    }
}

/*
@media (max-width: 992px) {
     .header__menu {
        display: block;

        max-width: 380px;
        margin: auto;

    .header__menu {
        display: flex;
        flex-direction: column;
        max-width: 332px;
        margin: auto;
        }

        .header__logo-container {
            max-width: 114px;
        }
    } 
    body {
        overflow: hidden;
    }

    header__logo-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    .header__nav-burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
}

.header__burger-menu span,
.header__burger-menu::before,
.header__burger-menu::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
    transform: scale(1); 
}

.header__burger-menu::before,
.header__burger-menu::after {
    content: " ";
}

.header__burger-menu::before {
    top: 0;
}

.header__burger-menu::after {
    bottom: 0;
}

.header__burger-menu.active span {
    transform: scale(0);
}
}*/