.header {
    background-image: url(../img/header_photo.png);
    background-size: cover;
    background-position: 50% 50%;
    min-width: 320px;
    max-width: 1200px;
}

.header__nav {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 16px;
    margin: 5px 10px;
    padding-right: 10px;
}

.header__logo-container {
    width: 188px;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

/* @media (max-width: 990px) {
.header__menu {
    max-width: 100%;
    display: none;
    }
} */



.header__menu-item {
    line-height: 16px;
    color: var(--text-color-lightest);
    text-decoration: none;
}

.menu-item__button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: var(--text-color-lightest);
    text-decoration: none;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 10px;
    border-width: 2px;
    border: 2px;
    border-color: var(--text-color-lightest);
}

.menu-item__button:hover {
    background-color: var(--text-color-dark);
}


.button {
    display: block;
    border-width: 2px;
    border: 2px;
    border-color: var(--text-color-lightest);
}

.header__baner {
    margin: 90px 24px;
    max-width: 1199px;
    width: 100%;
}

.header__headline_block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 -15px;
    padding: 0 15px;
    box-sizing: border-box;
}


.header__block-name {
    text-align: left;
    color: var(--text-color-lightest);
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.header__red-line {
    color: var(--color-for-signs);
    padding-right: 10px;
}

.header-main-content {
    margin-top: 50px;
    display: block;
    padding-bottom: 90px;
    margin: 0 -15px;
    width: calc(100% - 30px);
    box-sizing: border-box;
}

@media (min-width: 770px) {
    .header-main-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        box-sizing: border-box;

    }

    .header__promo-box {
    display: flex;
    align-items: flex-end;
    width: 60%;
    }

    .header__aside {
     display: flex;
     justify-content: flex-end;
     width: 40%;
     justify-content: space-between;
    }
}

.header__promo-box {
    padding: 0 15px;
}

.header__adition-icon {
    max-width: 20px;
    text-align: left;
}

.header__adition-line {
    color: var(--text-color-lightest);
}

.header__promo-video {
    color: var(--text-color-lightest);
    font-size: 12px;
    text-decoration: none;
    text-decoration: underline;
    
}

.header__aside {
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: var(--text-color-lightest);
}

.header_aside-video {
    position: relative;
    max-width: 100%;
    min-height: 32px;
    text-align: left;
    overflow: hidden;
}

.header__aside-h3 {
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.7;
    text-align: left;
    position: relative;
    max-width: 100%;
}

.header__aside-offer {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    position: relative;
    font-size: 12px;
    max-width: calc(100%-10px);
    line-height: 1.6;
}

.header__aside-offer-discriptions {
    margin-top: 15px;
    font-size: 12px;
    text-align: left;
    position: relative;
    color: var(--text-color-light);
}

.header__aside-read {
    margin-top: 35px;
    position: relative;
    
}

.header__aside-text{
    color: var(--text-color-lightest);
    text-decoration: none;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

/*
@media (max-width: 990px) {
     .header__menu {
        display: block;

        max-width: 380px;
        margin: auto;

    .header__menu {
        display: flex;
        flex-direction: column;
        max-width: 332px;
        margin: auto;
        }

        .header__logo-container {
            max-width: 114px;
        }
    } 
    body {
        overflow: hidden;
    }

    header__logo-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    .header__nav-burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
}

.header__burger-menu span,
.header__burger-menu::before,
.header__burger-menu::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
    transform: scale(1); 
}

.header__burger-menu::before,
.header__burger-menu::after {
    content: " ";
}

.header__burger-menu::before {
    top: 0;
}

.header__burger-menu::after {
    bottom: 0;
}

.header__burger-menu.active span {
    transform: scale(0);
}
}*/