.stun_container {
	max-width: 1170px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.stunnigd {
  background-color: #232428;
  padding-top: 90px;
}

.stunnigd__block {
    display: block;
    padding-left: 15px;

}
.stunnigd__title {
    padding-left: 15px;
    margin-top: 15px;
    font-size: 34px;
    font-family: "Playfair Display",serif;
}
@media (min-width: 410px) {
  .stunnigd__title {
    display: flex;
  }
  .stunnigd__title-span {
    padding-left: 10px;
  }
  .stunnigd__paragraph-text {
    width: 430px;
  }
  .stunnigd_writer-text {
    width: 336px;
    margin: auto;
  }
  
}
@media (min-width: 900px) {
  .stunnigd__paragraph-text {
    width: 760px;
  }
  .stunnigd_writer-text {
    width: 650px;
    margin: auto;
  }
  ..stunnigd__line-bottom {
    width: 600px;
  }
}

.stunnigd__block-text {
    font-size: 12px;
    font-weight: 500;
    color: var(--block-name-light);
    font-family: inherit;
  
}
.stunnigd__block-span {
    color: red;
    padding-right: 5px;
}
.stunnigd__title-text {
    color: var(--text-color-lightest);
    font-size: 34px;
    font-weight: bold;
    font-family: "Playfair Display",serif;
    vertical-align: baseline;
    text-align: left;
}
.stunnigd__title-span {
    color: var(--main-text-color);
    font-size: 34px;
    font-family: "Playfair Display",serif;
    font-weight: 700;
    vertical-align: baseline;
    text-align: left;
}
.stunnigd__paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-right: 15px;
    
}
.stunnigd__paragraph-text {
    color: var(--block-name-light);
    font-size: 17px;
    font-family: "Roboto" sans-serif;
    padding-left: 15px;
    line-height: 28.9px;
    
}

.stunnigd__container {
    display: flex;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 45px;
}
.stunnigd__container-item {
  display: flex;
  flex-direction: row;
}
.slide {
  height: 322px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

}

.products-carousel {
  display: flex;
  justify-content: center;
  height: 322px;

}

.products-carousel__slide-container {
  display: flex;
  
}
.products-carousel__prev, .products-carousel__next {
  border-radius: 100%;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: white;

}
.stunnigd__line-top {
  background-color: var(--block-name-light);
  height: 0.5px;
  width: 410px;
  margin-top: 25px;
}
.svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.stunnigd_writer {
  margin-top: 30px;
  padding: 25px 25px;
  justify-content: center;
}
.stunnigd_writer-text {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Playfair Display",serif;
  font-weight: bold;
  line-height: 1.88;
  vertical-align: baseline;
}
.stunnigd_writer-name {
  color: var(--block-name-light);
  text-align: center;
  font-size:17px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
.stunnigd__line-bottom {
  margin: auto;
  background-color: var(--block-name-light);
  height: 0.5px;
  display: flex;
  justify-content: center;
}



