.stunnigd {
  background-color: black;
  max-width: 100%;
  height: auto;
  padding-top: 90px;
  padding-left: 15px;
}

.stunnigd__block {
    display: block;
    padding-left: 15px;

}
.stunnigd__title {
    padding-left: 15px;
    margin-top: 20px;
    font-size: 34px;
    font-family: "Playfair Display",serif;
}
.stunnigd__block-text {
    font-size: 12px;
    font-weight: bold;
    color: var(--block-name-light);
    font-family: inherit;
}
.stunnigd__block-span {
    color: red;
    padding-right: 5px;
}
.stunnigd__title-text {
    color: var(--text-color-lightest);
    font-size: 34px;
    font-family: "Playfair Display",serif;
}
.stunnigd__title-span {
    color: var(--main-text-color);
    font-size: 34px;
    font-family: "Playfair Display",serif;
    font-weight: 700;
}
.stunnigd__paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-right: 15px;
    
}
.stunnigd__paragraph-text {
    color: var(--block-name-light);
    font-size: 17px;
    font-family: "Roboto" sans-serif;
    padding-left: 15px;
    line-height: 28.9px;
    
}

.stunnigd__container {
    display: flex;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 45px;
}

.stunnigd__container-item {
  display: flex;
  flex-direction: row;
}

.stunnigd__container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.stunnigd_writer {
  margin-top: 50px;
  padding-top: 50px;
  padding: 0px 25px;
  justify-content: center;
}
.stunnigd_writer-text {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Playfair Display",serif;
  font-weight: bold;
  line-height: 1.88;
  vertical-align: baseline;

}
.stunnigd_writer-name {
  color: var(--block-name-light);
  text-align: center;
  font-size:17px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 90px;
}
.svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
}


