/*
Format for testimonials block
*/
#testimonials {
    color: var(--main-text-color);
    text-align: center;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.testimonials__header {
    padding: 0px 15px 0px 15px;
}

.testimonials__header__subtitle {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.testimonials__header__intro {
    font-size: 19px;
    max-width: 800px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials__carousel {
    display: flex;
    justify-content: center;
}

.carousel__person-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-radius: 50%;
}

.testimonials__header__title {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    font-weight: 700;
    padding: 0 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel__person {
    color: var(--text-dark-shade);
    font-size: 22px;
    line-height: 32.2px;
    margin-top: 30px;
}

.carousel__person-text {
    color: rgb(112, 112, 112);
    font-size: 17px;
    line-height: 28.9px;
}

.carousel__person-data {
    font-weight: 700;
    font-size: 14px;
    line-height: 22.4px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials__carousel__button-prev,
.testimonials__carousel__button-next {
    cursor: pointer;
    position: absolute;
    /*  margin-top: 22px;*/
    /*  padding: 16;*/
    line-height: 46px;
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    vertical-align: middle;
    font-size: 23px;
    transition: 0.2s ease;
    border-radius: 50%;
}

.testimonials__carousel__button-next {
    right: 20px;
}

.testimonials__carousel__button-prev {
    left: 20px;
}

.testimonials__carousel__button-prev:hover,
.testimonials__carousel__button-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}