/*
Format for testimonials block
*/
#testimonials {
    color: var(--main-text-color);
    text-align: center;
    max-width: 1200px;
    min-width: 280px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.testimonials__header__subtitle {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.carousel___person-img {
    width: 100px;
    border-style: none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.testimonials__header__title {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    padding: 0 10px;
	margin-bottom: 50px;
}

.testimonials__header__intro {
    font-size: 19px;
}

.carousel___person {
    color: var(--text-dark-shade);
    font-size: 22px;
}

.carousel___person-text {
    color: rgb(112, 112, 112);
    font-size: 17px;
}

.carousel___person-data {
    font-weight: 700;
    font-size: 14px;
}