/*
Format for img
*/
#testimonials {
    color: var(--main-text-color);
}
.carousel___person-img {
    width: 100px;
    border-style: none;
    border-radius: 50%;
}

.testimonials__header__title {
    font-family: "Playfair Display", serif;
}