.tour-itinerary__background{
    width: 100%;
}
.tour-itinerary-container{
    max-width: 1200px;
    margin: auto;
}
.tour-itinerary__wrapper{
    display: flex;
    z-index: 5;
    position: absolute;
    top: 1600px;
    gap: 90px;
}
.tour-itinerary__map-container{
    display: block;
    width: 610px;
    height: 570px;
}
.tour-itinerary__map{
    width: 100%;
}
.tour-itinerary__title__colorline{
    color: var(--color-for-signs)
}
.tour-itinerary__title{
    font-weight: 500;
    color: rgba(255,255,255,0.6);
    font-size: 13px;
}
.tour-itinerary__text-container{
    margin-top: 50px;
    width: 570px;
}
.tour-itinerary__subtitle{
    font-family: 'Playfair Display', serif;
    color: var(--text-color-lightest); 
    font-size: 45px;
    font-weight: 700px;
    margin-top: 20px;
    line-height: 50px;
}
.tour-itinerary__subtitle__colortext{
    color: var(--main-text-color);
}
.tour-itinerary__description{
    font-size: 17px;
    color: var(--block-name-light);
    margin-top: 25px;
    line-height: 30px;
    letter-spacing: 0.08em;
    width: 565px;
}
.text-container__list{
    display: flex;
    margin-top: 40px;  
}
.text-container__icons__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: var(--background-icons-color);
    margin-bottom: 50px;
}
.tour-itinerary__icons{
    color: var(--text-bold-color);
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.text-container__text-list{
    margin-left: 30px;
}
.text-container__text-list__li{
    margin-bottom: 35px;
}
.tour-itinerary__license, .tour-itinerary__guide, .tour-itinerary__satisfaction{
    color: var(--text-color-lightest);
    font-weight: 700px;
    font-size: 21px;
    letter-spacing: 0.07em;
    line-height: 30px;
}
.tour-itinerary__license-text, .tour-itinerary__guide-text, .tour-itinerary__satisfaction-text{
    color: var(--text-color-dark);
    font-weight: 400px;
    line-height: 25px;
}

