.tour-itinerary__background{
    width: 100%;
}
.tour-itinerary__map{
    width: 600px;
}
.tour-itinerary__title__colorline{
    color: rgb(238,46,20)
}
.tour-itinerary__title{
    font-weight: 500;
    color: rgba(255,255,255,0.6);
    font-size: 13px;
}
.tour-itinerary__text{
    background-color: rgb(0, 0, 0);
}
.tour-itinerary__subtitle{
    font-family: 'Playfair Display', serif;
    color: rgba(255,255,255); 
    font-size: 45px;
    font-weight: 700px;
}
.tour-itinerary__subtitle__colortext{
    color: #505155;
}
.tour-itinerary__description{
    font-size: 17px;
    color: rgba(255,255,255,0.6);
}
.tour-itinerary__icons{
    width: 50px;
    color: #14a9ee;
}
.tour-itinerary__license{
    color: rgba(255,255,255);
    font-weight: 700px;
    font-size: 21px;
}
.tour-itinerary__license-text{
    color: #a9a9a9;
    font-weight: 400px;
}
.tour-itinerary__guide{
    color: rgba(255,255,255);
    font-weight: 700px;
    font-size: 21px;
}
.tour-itinerary__guide-text{
    color: #a9a9a9;
    font-weight: 400px;
}
.tour-itinerary__satisfaction{
    color: rgba(255,255,255);
    font-weight: 700px;
    font-size: 21px;
}
.tour-itinerary__satisfaction-text{
    color: #a9a9a9;
    font-weight: 400px;
}