.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    border: 2px;
    border-color: var(--text-color-lightest);
    color: var(--text-color-lightest);
    text-decoration: none;
    font-weight: 700;
    word-wrap: break-word;
}

.button:hover {
    background-color: var(--text-color-dark);
}